
@model trova_libro.manager.Models.Libro



<div class="ui-grid-c">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-d">Data inserimento</div>
        <div class="ui-bar ui-bar-d">Tipo</div>
        <div class="ui-bar ui-bar-d">Titolo</div>
        <div class="ui-bar ui-bar-d">Prezzo</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-bar-b">@Model.dataInserimento.ToShortDateString()</div>
        <div class="ui-bar ui-bar-b">@Model.tipo</div>
        <div class="ui-bar ui-bar-b">@Model.titolo</div>
        <div class="ui-bar ui-bar-b">@Model.prezzo.ToString("C")</div>
    </div>
    <div class="ui-block-c">
        <div class="ui-bar ui-bar-d">Utente</div>
        <div class="ui-bar ui-bar-d">Categoria</div>
        <div class="ui-bar ui-bar-d">ISBN</div>
    </div>
    <div class="ui-block-d">
        <div class="ui-bar ui-bar-b">@Model.login</div>
        <div class="ui-bar ui-bar-b">@Model.categoria</div>
        <div class="ui-bar ui-bar-b">@MyHelper.decodeNull(Model.isbn))</div>
    </div>
</div>





<br />

<div class="ui-grid-c">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-d">Regione - Provincia</div>
        <div class="ui-bar ui-bar-d">Zona/Quartiere</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-bar-b"></div>
        <div class="ui-bar ui-bar-b"></div>
    </div>
    <div class="ui-block-c">
        <div class="ui-bar ui-bar-d">CAP</div>
        <div class="ui-bar ui-bar-d">Indirizzo</div>
    </div>
    <div class="ui-block-d">
        <div class="ui-bar ui-bar-b"></div>
        <div class="ui-bar ui-bar-b"></div>
    </div>
</div>

