@model MyWebApplication.Models.CreateModel
@{
    ViewBag.Title = "Trova libro: nuovo annuncio";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}
<nav class="mt-3" aria-label="breadcrumb" itemprop="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Libri")">Ricerca</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("MyAnnunci","Libri")">I miei annunci</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuovo annuncio</li>
    </ol>
</nav>
<h2>Nuovo annuncio</h2>
<p>Segui la procedura guidata per l'inserimento di un nuovo annuncio.</p>
<p>Al termine della procedura riceverai un messaggio al tuo indirizzo email con i dai inseirti. </p>
<p>Dopo aver concluso la procedura guidata potrai aggiungere delle immagini cliccado sul relativo annuncio dal menu "I miei annunci" </p>

@using (Html.BeginForm("Create", "Libri", FormMethod.Post))
{

    @Html.AntiForgeryToken()


    @Html.Partial("_MyValidationSummary", ViewData.ModelState)

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tipo">Tipo di annuncio*:</label>
                <select class="form-control mb-3" id="tipo" name="libro.tipo" value="@(Model.libro.tipo!= null?Model.libro.tipo.Value.ToString():"")">
                    <option value="">---</option>
                    <option value="1" @( Model.libro.tipo != null && (int)Model.libro.tipo == 1 ? "selected" : "")>Vendo</option>
                    <option value="2" @( Model.libro.tipo != null && (int)Model.libro.tipo == 2 ? "selected" : "")>Compro</option>
                    <option value="3" @( Model.libro.tipo != null && (int)Model.libro.tipo == 3 ? "selected" : "")>Scambio</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="comboCategoria">Categoria*:</label>
                <select class="form-control mb-3" id="comboCategoria" name="libro.categoriaId">
                    <option value="">---</option>
                    @foreach (MyManagerCSharp.Models.MyItem item in Model.comboCategorie)
                {
                        <option value="@item.Value" @(item.Value == Model.libro.categoriaId.ToString() ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="comboSubCategoria">Testi scolastici/universitari</label>
                <select class="form-control mb-3" id="comboSubCategoria" name="libro.subCategoriaId">
                    <option value="">---</option>
                    @foreach (MyManagerCSharp.Models.MyItem item in Model.comboSubCategorie)
                    {
                        <option value="@item.Value" @(item.Value == Model.libro.subCategoriaId.ToString() ? "selected" : "")>@item.Text  (@item.Value)</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="titolo">Titolo*:</label>
                <input type="text" class="form-control" value="@Model.libro.titolo" id="titolo" name="libro.titolo" placeholder="Titolo">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="autore">Autore:</label>
                <input type="text" class="form-control" value="@Model.libro.autore" id="autore" name="libro.autore" placeholder="Autore">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="casaEditrice">Casa editrice:</label>
                <input type="text" class="form-control" value="@Model.libro.casaEditrice" id="casaEditrice" name="libro.casaEditrice" placeholder="Casa editrice">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input type="text" class="form-control" value="@Model.libro.isbn" id="isbn" name="libro.isbn" placeholder="ISBN">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="prezzo">Prezzo:</label>
                <input type="number" class="form-control" value="@Model.libro.prezzo" id="prezzo" name="libro.prezzo" placeholder="Inserire il prezzo del libro in euro">
            </div>
        </div>
    </div>



        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label for="comboRegione">Regione</label>
                    <select class="form-control mb-3" id="comboRegione" name="libro.regioneId">
                        <option value="">---</option>
                        @foreach (MyManagerCSharp.Models.MyItem item in Model.comboRegioni)
                {
                            <option value="@item.Value" @(item.Value == Model.libro.regioneId.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    <input type="hidden" id="regione" name="libro.regione" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="comboProvincia">Provincia</label>
                    <select class="form-control mb-3" id="comboProvincia" name="libro.provinciaId">
                        <option value="">---</option>
                    </select>
                    <input type="hidden" id="provincia" name="libro.provincia" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="comboComune">Comune</label>
                    <select class="form-control mb-3" id="comboComune" name="libro.comuneId">
                        <option value="">---</option>
                    </select>
                    <input type="hidden" id="comune" name="libro.comune" />
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea name="libro.nota" id="nota">@Model.libro.nota</textarea>
                </div>
            </div>
        </div>


        <a class="btn btn-secondary" href="@Url.Action("MyAnnunci", "Libri")" role="button">Annulla</a>
        <button class="btn btn-primary" type="button" onclick="buttonSalvaOnClick()"><i class="fa fa-save fa-fw"></i>Salva</button>
}

@Html.Partial("_ComboCategoria")
@Html.Partial("_ComboRegioneProvinciaComune")

<script type="text/javascript">

    $(document).ready(function () {
        $("#comboCategoria").on("change", comboCategoriaOnChange);
        $("#comboRegione").on("change", comboRegioneOnChange);
        $("#comboProvincia").on("change", comboProvinciaOnChange);

        //tinymce.init({ mode: "exact", elements: "nota", encoding: "xml" });
        //$('#nota').summernote({ tabsize: 2, height: 100 });

        $('#nota').summernote({
            tabsize: 2, height: 100,
            toolbar: [
              // [groupName, [list of button]]
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']]
            ]
        });
    });



    function buttonSalvaOnClick() {
        console.log("buttonSalvaOnClick");
        let check = true;

        if (check === false) {
            return;
        }

        //comboProvincia
        //let selectedValue = $("#comboRegione").val();
        let selectedText;
        if ($("#comboRegione").val() !== '') {
            selectedText = $("#comboRegione").find(":selected").text();
            $("#regione").val(selectedText);

        }

        if ($("#comboProvincia").val() !== '') {
            selectedText = $("#comboProvincia").find(":selected").text();
            $("#provincia").val(selectedText);
        }

        if ($("#comboComune").val() !== '') {
            selectedText = $("#comboComune").find(":selected").text();
            $("#comune").val(selectedText);
        }



        $("form").submit();
    }


</script>
