@model Annunci.Libri.Models.Libro
@{
    ViewBag.Title = "Trova libro: cancellazione annuncio";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h1>Cancellazione annuncio</h1>
<p>Confermare la cancellazione per l'annuncio: <b>@Model.titolo</b></p>
<br />
<p>Le seguenti informazioni NON verrano inviate all'utente ma rimarranno nel sistema per scopi statistici.</p>


@using (Html.BeginForm("DeleteAnnuncioExecute", "Libri", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()
    <p>
        Specificare il motivo della cancellazione:  <select id="causale" name="causale" data-mini="true" data-inline="true">
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Undefined">---</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Oggetto_non_piu_disponibile">Oggetto della compravendita non più disponibile</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Concluso_con_successo">Compravendita conclusa correttamente</option>
            <option value="@Annunci.AnnunciManager.StatoAnnuncio.Altro">Altro - inserire eventuali note</option>
        </select>
    </p>

    <br />

    <input type="hidden" name="MyId" value="@Model.annuncioId" />
    <input type="hidden" name="Tipo" value="" />

    <h2>Note aggiuntive</h2>
    <textarea class="form-control" name="nota" rows="3"></textarea>
    <br />

    <a class="btn btn-secondary" href="@Url.Action("MyAnnunci", "Libri")" role="button">Annulla</a>
    <button class="btn btn-primary" type="submit"><i class="fa fa-trash fa-fw"></i>Conferma</button>

}
