
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h1>Cancellazione annuncio</h1>

<p>Confermare la cancellazione per l'annuncio: <b><%=_titolo %> </b></p>

<br />

<p>Le seguenti informazioni NON verrano inviate all'utente ma rimarranno nel sistema per scopi statistici.</p>



@using (Html.BeginForm("DeleteExecute", "Libri", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()



    <p>
        Specificare il motivo della cancellazione:  <select id="causale" name="causale" data-mini="true" data-inline="true">
            <option value="">---</option>
            <option value="@Annunci.AnnuncioManager.StatoAnnuncio.Oggetto_non_piu_disponibile.ToString()">Oggetto della compravendita non più disponibile</option>
            <option value="@Annunci.AnnuncioManager.StatoAnnuncio.Concluso_con_successo.ToString()">Compravendita conclusa correttamente</option>
            <option value="@Annunci.AnnuncioManager.StatoAnnuncio.Altro.ToString()">Altro - inserire eventuali note</option>
        </select>
    </p>

    <br />


    <input type="hidden" name="MyId" value="@ViewData["MyId"]" />
    <input type="hidden" name="Tipo" value="@ViewData["Tipo"]" />


    <h2>Note aggiuntive</h2>
    <textarea name="nota"></textarea>


    <div>
        <a class="btn btn-secondary" href="@Url.Action("MyAnnunci", "Libri")" role="button">Annulla</a>
        <button class="btn btn-primary" type="submit">Conferma</button>
    </div>

}
