@model Annunci.Libri.Models.Libro
@{
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<p class="lead">Dettaglio annuncio</p>

<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a href="#info" id="info-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="info" aria-selected="true">Info</a></li>
    <li class="nav-item"><a href="#descrizione" id="descrizione-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="descrizione" aria-selected="false">Descrizione</a></li>
    <li class="nav-item"><a href="#photo" id="photo-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="photo" aria-selected="false">Photo</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content mb-3">

    <div id="info" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
        @{Html.RenderPartial("_TabInfoLibro", Model);}
    </div>

    <div id="descrizione" class="tab-pane fade" role="tabpanel" aria-labelledby="descrizione-tab">
        <blockquote>@Html.Raw(Model.nota)</blockquote>
    </div>

    <div id="photo" class="tab-pane fade" role="tabpanel" aria-labelledby="photo-tab">
        <a href="@Url.Content("~/Content/images/Number-1-icon.png")" data -lightbox="roadtrip">Image #1</a>
        <a href="@Url.Content("~/Content/images/Number-2-icon.png")" data -lightbox="roadtrip">Image #2</a>
        <a href="@Url.Content("~/Content/images/Number-3-icon.png")" data -lightbox="roadtrip">Image #3</a>
        <a href="@Url.Content("~/Content/images/Number-4-icon.png")" data -lightbox="roadtrip">Image #4</a>
    </div>
</div>



<br />
<div>
    Se sei interessatto a questo annuncio clicca su "Rispondi" per mandare un un messaggio all'inserzionista.
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-secondary" href="@Url.Action("Index", "Libri")">Pagina di ricerca</a>
        <a class="btn btn-primary text-right" href="@Url.Action("Reply", "Libri", new { annuncioId = Model.annuncioId })">Rispondi</a>

    </div>
</div>