@model MyWebApplication.Models.DetailsModel
@{
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
    System.IO.FileInfo fi;
    string temp;
}

<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Libri")">Ricerca</a></li>
        <li class="breadcrumb-item active" aria-current="page">Annuncio</li>
    </ol>
</nav>
<h1><small>@Model.libro.titolo</small></h1>

<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a href="#info" id="info-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="info" aria-selected="true">Info</a></li>
    <li class="nav-item"><a href="#descrizione" id="descrizione-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="descrizione" aria-selected="false">Descrizione</a></li>
    <li class="nav-item"><a href="#photo" id="photo-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="photo" aria-selected="false">Photo</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content mb-3 mt-3">

    <div id="info" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
        @{Html.RenderPartial("_TabInfoLibro", Model.libro);}
    </div>

    <div id="descrizione" class="tab-pane fade" role="tabpanel" aria-labelledby="descrizione-tab">
        @if (String.IsNullOrEmpty(Model.libro.nota))
        {
            <p>Descrizione non disponibile</p>
        }
        else
        {
            <div class="jumbotron">
                <blockquote>@Html.Raw(Model.libro.nota)</blockquote>
            </div>
        }
    </div>

    <div id="photo" class="tab-pane fade" role="tabpanel" aria-labelledby="photo-tab">


        @if (Model.photos == null || Model.photos.Count == 0)
        {
            <p>Immagini non disponibili</p>
        }
        else
        {
            foreach (Annunci.Models.MyPhoto p in Model.photos)
            {

                System.Diagnostics.Debug.WriteLine("Path : " + Server.MapPath(p.Path));

                if (p.Path.StartsWith("http:"))
                {
                    <a href="@p.Path" data-lightbox="gallery">
                        <img src="@p.Path" alt="@p.Note" />
                    </a>
                }
                else
                {
                    fi = new System.IO.FileInfo(Server.MapPath(p.Path));
                    if (fi.Exists)
                    {
                        //verifico che ci sia la thumbnail
                        if (System.IO.File.Exists(fi.DirectoryName + System.IO.Path.DirectorySeparatorChar + "thumbnail_" + fi.Name))
                        {
                            temp = p.Path.Replace(fi.Name, "thumbnail_" + fi.Name);
                        }
                        else
                        {
                            temp = p.Path;
                        }

                        <a href="@Url.Content(p.Path)" data-lightbox="gallery">
                            <img src="@Url.Content(temp)" alt="@p.Note" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Content("~/Content/Images/Shared/unavailable.jpg")" data-lightbox="gallery">
                            <img src="@Url.Content("~/Content/Images/Shared/unavailable.jpg")" alt="Immagine non disponibile" width="120" height="120" />
                        </a>
                    }
                }
            }
        }
        <!--
        <a href="@Url.Content("~/Content/images/Number-1-icon.png")" data-lightbox="roadtrip">Image #1</a>
        <a href="@Url.Content("~/Content/images/Number-2-icon.png")" data-lightbox="roadtrip">Image #2</a>
        <a href="@Url.Content("~/Content/images/Number-3-icon.png")" data-lightbox="roadtrip">Image #3</a>
        <a href="@Url.Content("~/Content/images/Number-4-icon.png")" data-lightbox="roadtrip">Image #4</a>
            -->

    </div>
</div>

<hr />

<p>
    Se sei interessatto a questo annuncio clicca su "Rispondi" per mandare un un messaggio all'inserzionista.
</p>

<br />

<a class="btn btn-secondary" href="@Url.Action("Index", "Libri")"> <i class="fa fa-search fa-fw"></i> Pagina di ricerca</a>
<a class="btn btn-primary text-right" href="@Url.Action("Reply", "Libri", new { annuncioId = Model.libro.annuncioId })"><i class="fa fa-pencil-alt fa-fw"></i>Rispondi</a>



@{Html.RenderPartial("_SocialNetwork");}