@model Annunci.Libri.Models.SearchLibri
@{
    ViewBag.Title = "Trova libro: Cercare e vendere libri usati";
    ViewBag.Description = "Trova-libro ti offre la possibilità di vendere, comprare e cercare gratuitamente libri usati con estrema velocità e semplicità mettendoti direttamente in contatto con il venditore";
    ViewBag.Keywords = "acquisto libri usati, libri usati, trova libri, testi universitari usati,compro libri, vendo libri, comprovendolibriusati, compro e vendo libri , libro.it, vendere libri usati, compro vendo libri, libri universitari usati, comprovendolibri";

    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";

    WebGrid wGrid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: Model.Sort, canPage: false);
    wGrid.Bind(Model.Libri, rowCount: Model.TotalRows, autoSortAndPage: false);
}


<form action="@Url.Action("Index", "Libri")" method="post" class="form-horizontal" id="MyForm">

    <div class="form-group">
        <label for="data" class="control-label">Data inserimento</label>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="days" id="radio-oggi" value="@((int)MyManagerCSharp.ManagerDB.Days.Oggi)" @((Model.days == MyManagerCSharp.ManagerDB.Days.Oggi) ? "checked" : "") />
            <label class="form-check-label" for="radio-oggi">Oggi</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="days" id="radio-7-giorni" value="@((int)MyManagerCSharp.ManagerDB.Days.Ultimi_7_giorni)" @((Model.days == MyManagerCSharp.ManagerDB.Days.Ultimi_7_giorni) ? "checked" : "") />
            <label class="form-check-label" for="radio-7-giorni">Ultima settimana</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="days" id="radio-30-giorni" value="@((int)MyManagerCSharp.ManagerDB.Days.Ultimi_30_giorni)" @((Model.days == MyManagerCSharp.ManagerDB.Days.Ultimi_30_giorni) ? "checked" : "") />
            <label class="form-check-label" for="radio-30-giorni"> Ultimo mese</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="days" id="radio-tutti" value="@((int)MyManagerCSharp.ManagerDB.Days.Tutti)" @((Model.days == MyManagerCSharp.ManagerDB.Days.Tutti) ? "checked" : "") />
            <label class="form-check-label" for="radio-tutti">Tutti</label>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="titolo">Titolo</label>
                <input type="text" class="form-control" name="filter.titolo" value="@Model.filter.titolo">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="titolo">Autore</label>
                <input type="text" class="form-control" name="filter.autore" value="@Model.filter.autore">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" name="filter.isbn" value="@Model.filter.isbn">
            </div>
        </div>
    </div>




    <button type="submit" class="btn btn-default">Ricerca</button>


    @if (Model.TotalRows == 0)
    {
        <h3>Non è stata trovata nessuna vulnerabilità. Modificare i filtri di ricerca.</h3>
    }
    else
    {
        <div style="margin-top: 20px;">
            @wGrid.GetHtml(
            fillEmptyRows: false,
            tableStyle: MyConstants.TABLE_STYLE,
            headerStyle: MyConstants.TABLE_HEADER_STYLE,
            footerStyle: MyConstants.TABLE_FOOTER_STYLE,
            rowStyle: MyConstants.TABLE_ROW_STYLE,
            alternatingRowStyle: MyConstants.TABLE_ALTERNATING_ROW_STYLE,
            htmlAttributes: new { data_role = "table", id = "MyWebGrid", data_mode = "reflow" },
            columns: new[]{
                wGrid.Column (columnName:"dataInserimento", header :"Data",  format: p=>p.DataInserimento.ToShortDateString() ,canSort : true),
                    wGrid.Column (columnName:"titolo", header :"Titolo", format:(item) =>  Html.ActionLink ( (string) (string.IsNullOrEmpty (item.titolo)?"N/A":item.titolo.ToString()), "Details",   new {id=item.annuncioId} ), canSort:true),
                    wGrid.Column (columnName:"categoria", header :"Categoria", canSort : true),
                    wGrid.Column (columnName:"autore", header :"Autore", canSort : true),
                    wGrid.Column (columnName:"login", header :"Utente", canSort : true),
                    wGrid.Column (columnName:"tipo", header :"Tipo", canSort : true),
                    wGrid.Column (columnName:"prezzo", header :"Prezzo", canSort : true),
            })

            @{Html.RenderPartial("_Paging", Model);}
        </div>
                }
</form>