
@model List<Annunci.Models.Trattativa>
@{
    ViewBag.Title = "MyTrattative";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Le mie trattative</h2>

<p>
    Elenco delle <b>trattative in corso con altri utenti</b>.
    <br />
    In questa sezione sono elencate le richieste di compravendita che hai eseguito verso altri utenti.
</p>

<p>Se invece desideri vedere le <b>risposte ai tuoi annunci</b>, clicca <a href="@Url.Action("MyAnnunci", "Libri")">qui</a>.</p>


@if (Model.Count == 0)
{
    <h2>Non ci sono trattative aperte con altri utenti.</h2>
}
else
{

    <table id="MyTable" class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Stato</th>
                <th>Categoria</th>
                <th>Data inserimento</th>
                <th>Titolo</th>
                <th>Utente</th>
                <th>Tipo</th>
                <th>Prezzo</th>
                <th>Info</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>


            @foreach (Annunci.Models.Trattativa t in Model)
            {

                <tr>
                    <th>
                        @if (t.stato == Annunci.Models.Trattativa.StatoTrattativa.Attiva)
                        {
                            <img src="@Url.Content("~/Content/Images/Shared/green2_16x16.png")" alt="@t.stato.ToString()" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/Images/Shared/red2_16x16.png")" alt="@t.stato.ToString()" />
                        }

                    </th>
                    <th>@t.stato</th>
                    <td>@t.categoriaLibro</td>
                    <td>@t.dateAdded.ToShortDateString()</td>
                    <td>@t.titolo</td>
                    <td>@t.login</td>
                    <td>@t.tipoAnnuncio</td>
                    <td>@t.prezzo.ToString("C")</td>
                    <td><a href="@(Url.Action("Trattativa", "Libri") + "/" + t.trattativaId)"><i class="fa fa-info"></i></a></td>
                    <td><button type="button" onclick="deleteOnClick(@t.trattativaId)"><i class="fa fa-trash"></i></button></td>
                </tr>

            }
        </tbody>
    </table>

}






<script type="text/javascript">


    function deleteOnClick(id) {
        $("#deleteModal").modal('show');
        $("#trattativaId").val(id);
    }
    
  
</script>




<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal " aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Cancellazione</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confermare la cacellazione della trattativa?
            </div>

            @using (Html.BeginForm("DeleteTrattativa", "Libri", FormMethod.Post, new { id = "MyForm" }))
            {
                @Html.AntiForgeryToken()
                
                <input type="hidden" id="trattativaId" name="trattativaId" />

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Si <i class="fa fa-trash fa-fw"></i></button>
                </div>
            }
            
        </div>
    </div>
</div>
