@model MyWebApplication.Models.ReplyModel
@{
    ViewBag.Title = "Reply";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h1>Rispondi all'annuncio: @Model.annuncio.titolo</h1>

<p>Al termine dell'operazione verrà inviato un messaggio di notifica al proprietario (@Model.annuncio.login) dell'annuncio.</p>


@using (Html.BeginForm("Reply", "Libri", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="annuncioId" value="@Model.annuncioId" />
    <input type="hidden" name="trattativaId" value="@Model.trattativaId" />
    <input type="hidden" name="rispostaId" value="@Model.rispostaId" />

    <textarea  id="nota" name="testo">@Model.testo</textarea>

    <br />

    <div data-role="controlgrup" data-type="horizontal" data-mini="true">
        <a href="@Url.Action("Index", "Libri")" class="btn btn-info">Torna all'elenco</a>
        <a href="@Url.Action("Details", "Libri", new { id = Model.annuncioId })" class="btn btn-secondary">Torna all'annuncio</a>

        @if (Model.trattativaId != -1)
        {
            <a href="@Url.Action("Trattativa", "Libri", new { id = Model.trattativaId })" class="btn btn-warning">Torna alla trattativa</a>
        }
        <input type="submit" value="Reply" class="btn btn-primary" />
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        //tinymce.init({            mode: "exact",            elements: "nota",            encoding: "xml"        });

        $('#nota').summernote({ tabsize: 2, height: 100 });

    });

</script>