@model MyWebApplication.Models.ModelTrattativa
@{
    ViewBag.Title = "Trattativa";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Trattativa</h2>


@{Html.RenderPartial("_TabInfoLibro", Model.libro);}


<br />

<div id="MyTrattativa">

    @foreach (Annunci.Models.Risposta r in Model.trattativa.risposte)
    {
        <div class="card mb-3 ">
            <div class="card-header bg-success">
                <span class="MyReplyId">@((r.refRispostaId == -1) ? "" : r.refRispostaId.ToString())</span>
                <span class="MyDate">@r.dateAdded.ToString()</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <h6>Utente: @r.login</h6>
                        @MyHelper.getProfileImage(Server.MapPath("~"), r.login, r.customerId)
                    </div>

                    <div class="col-9" style="border: 1px solid black">
                        <div class="row float-right" style="border: 1px solid red">

                            <a role="button" class="btn btn-primary btn-sm float-right" href="@Url.Action("Reply", "Libri", new { annuncioId = r.annuncioId, trattativaId = r.trattativaId , rispostaId = r.rispostaId })">Reply<i class="fas fa-reply fa-fw"></i></a>
                            &nbsp;
                            <a role="button" class="btn btn-primary btn-sm" href="@Url.Action("Reply", "Libri", new { annuncioId = r.annuncioId, trattativaId = r.trattativaId, quote =  r.rispostaId })">Quote<i class="fas fa-quote-right fa-fw"></i></a>

                        </div>
                        <div style="clear:both"></div>
                        <div class="row float-none" style="border: 1px solid blue">
                            <blockquote class="blockquote">@Html.Raw(r.testo)</blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<a class="btn btn-secondary" href="@Url.Action("MyTrattative")">Annulla</a>
