@{
    HtmlString javaScriptNotification = new HtmlString("");


    if (TempData["Message"] != null && TempData["Message"].GetType() == typeof(MyMessage))
    {
        string messaggio = "";
        string tipo = "";

        MyMessage message = (MyMessage)TempData["Message"];

        messaggio = message.testo;
        messaggio = messaggio.Replace(Environment.NewLine, "<br />").Replace("\r\n", "<br />").Replace("\n\r", "<br />").Replace("\r", "<br />").Replace("\n", "<br />").Replace("|", "<br />").Replace("'", "\\'");

        // HtmlString html = new HtmlString(temp);

        switch (message.tipo)
        {
            case MyMessage.MyMessageType.Success:
                tipo = "success";
                break;
            case MyMessage.MyMessageType.Warning:
                tipo = "warning";
                break;
            case MyMessage.MyMessageType.Failed:
            case MyMessage.MyMessageType.Exception:
                tipo = "error";
                break;
        }

        javaScriptNotification = new HtmlString(String.Format("MyNoty('{0}','{1}');", tipo, messaggio));

    }

}

<!DOCTYPE html>
<html>
<head>
    <title>@System.Configuration.ConfigurationManager.AppSettings["application.name"] [Admin]</title>

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-32x32.png")" sizes="32x32" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-16x16.png")" sizes="16x16" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
       <link rel="stylesheet" href="@Url.Content("~/Content/Style/Admin.css")" />

       <link rel="stylesheet" href="@Url.Content("~/Content/Style/jquery.mobile-1.4.5.min.css")" />
       <link rel="stylesheet" href="@Url.Content("~/Content/Style/themes/Admin.min.css")" />
       <link rel="stylesheet" href="@Url.Content("~/Content/Style/jquery.mobile.structure-1.4.5.min.css")" />
    -->
    <!-- Noty
        <link rel="stylesheet" media="all" href="@Url.Content("~/Content/Style/animate.css")" />
    -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>



    <!--
        <script src="@Url.Content("~/Content/js/jquery-1.11.1.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.mobile-1.4.5.min.js")"></s

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



        <!--
        <script src="@Url.Content("~/Content/js/jquery-1.11.1.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.mobile-1.4.5.min.js")"></script>
            -->
    <!-- NOTY
    <script type="text/javascript" src="@Url.Content("~/Content/js/noty/packaged/jquery.noty.packaged.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/MyJS.js")"></script>
        -->
    <script type="text/javascript">
        //$(document).on("pageinit", function () {
        // alert("mobileinit");
        // $.mobile.ajaxEnabled = false;

        //javaScriptNotification
        //});

    </script>
</head>
<body>
    <div role="document">

        @Html.Partial("_MenuTop")

        <!-- /header -->

        <div class="container theme-showcase" role="main">
            @RenderBody()
        </div> <!-- /main -->

        @{Html.RenderPartial("_footer");}


    </div>

    <!-- /page -->

</body>
</html>
