
@{
    ViewBag.Title = "Trova-libro: vendo libri usati e testi universitari";
    ViewBag.Description = "Con Trova-libro puoi vendere e comprare libri usati e testi universitari. Il servizio è gratuito e senza costi di intermediazione";
    ViewBag.Keywords = "libri usati, libri scolastici usati, libri universitari usati, vendere libri usati, libri usati scolastici";


    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}



    <meta itemprop="name" content="www.trova-libro.it" />
    <meta itemprop="description" content="Con Trova-libro puoi vendere e comprare libri usati e testi universitari. Il servizio è gratuito e senza costi di intermediazione" />
    <meta itemprop="image" content="https://www.trova-libro.it/Content/images/TrovaLibro.png" />

    <meta property="og:type" content="WebPage" />
    <meta property="og:title" content="Trova-libro" />
    <meta property="og:description" content="Trova-libro ti offre la possibilità di vendere, comprare e cercare gratuitamente libri usati con estrema velocità e semplicità mettendoti direttamente in contatto con il venditore" />
    <meta property="og:url" content="https://www.trova-libro.it/" />
    <meta property="og:image" content="https://www.trova-libro.it/Content/images/TrovaLibro.png" />
    <meta property="og:site_name" content="Trova-libro" />




<h1>Benvenuto su Trova-libro</h1>
<div class="float-right"><img src="@Url.Content("~/Content/Images/libri1_128x128.gif")" alt="Trova-libro" /></div>

<p><strong>Trova-libro</strong> ti offre la possibilità di vendere, comprare e scambiare gratuitamente libri usati con estrema velocità e semplicità mettendoti direttamente in contatto con il venditore.</p>

<p>Con <strong>Trova-libro</strong> puoi pubblicare annunci dei tuoi vecchi libri scolastici o testi universitari da vendere.</p>

<p>Pui acquistare, scambiare e vendere libri nuovi o usati.</p>

<p>I servizi offerti da Trova-libro sono gratis.</p>

<p>Puoi cercare tra gli annunci e trovare il libro di tuo interesse utlizzando la <a href="@Url.Action("Index","Libri")">pagina di ricerca</a> oppure navigando tra le varie <a href="@Url.Action("Categorie","Libri")">categorie</a>.</p>

<p>L'archivio mette a disposizione numerosi libri universitari e <a href="@Url.Action("TestiScolastici","Libri")">testi scolastici</a>.</p>



<p>Ad ogni annuncio puoi associare una o più immagini.</p>

<p>Completa la <a href="@Url.Action("Register","Account")">procedura di registrazione</a> per avere la possibilità di inserire e rispondere agli annunci.</p>

<p>I servizi rimangono sempre gratuiti e senza la presenza di intermediari.</p>


<p>Speriamo che il servizio sia di vostro gradimento.</p>

<p>
    Per qualsisi segnalazione e/o consiglio vi pregiamo di scriverci al seguente indirizzo:
    <a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["mail.webmaster"]">@System.Configuration.ConfigurationManager.AppSettings["mail.webmaster"]</a>
</p>
 
<img class="mx-auto d-block img-fluid" src="@Url.Content("~/Content/Images/logo_trova-libro.png")" />

@{Html.RenderPartial("_SocialNetwork");}