@model MyWebApplication.Models.GalleryModel

@{
    System.IO.FileInfo fi;
    string temp;
    int conta = 0;
}

<button type="button" class="btn btn-info" onclick="javascript:MyAsyncUpdate();">Aggiorna</button>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyPopupDialog">
    Aggiungi una photo <i class="fa fa-plus fa-fw"></i>
</button>


<br />
<div id="MyGalleryEdit">
    <table class="table table-bordered">
        <tbody>

            @foreach (Annunci.Models.MyPhoto p in Model.photos)
            {
                conta++;
                System.Diagnostics.Debug.WriteLine("Path : " + Server.MapPath(p.Path));

                if (p.Path.StartsWith("http:"))
                {
                    <li>
                        <a href="@p.Path" data-lightbox="gallery" title="@p.Note ">
                            <img src="@p.Path" alt="@p.Note" />
                        </a>
                        <a href="#">Delete</a>

                    </li>

                }
                else
                {
                    fi = new System.IO.FileInfo(Server.MapPath(p.Path));
                    if (fi.Exists)
                    {
                        //verifico che ci sia la thumbnail
                        if (System.IO.File.Exists(fi.DirectoryName + System.IO.Path.DirectorySeparatorChar + "thumbnail_" + fi.Name))
                        {
                            temp = p.Path.Replace(fi.Name, "thumbnail_" + fi.Name);
                        }
                        else
                        {
                            temp = p.Path;
                        }

                        <tr>
                            <td class="align-middle">@conta</td>
                            <td>
                                <a href="@Url.Content(p.Path)" data-lightbox="gallery">
                                    <img src="@Url.Content(temp)" alt="@p.Note" />
                                </a>
                            </td>
                            <td class="align-middle" style="width:10em">
                                <button class="btn btn-warning" onclick="javascript:MyDeleteAsync('@p.PhotoId')">Delete <i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <li>
                            <a href="#">
                                <img src="@Url.Content("~/Content/Images/Shared/unavailable.jpg")" alt="Immagine non disponibile" width="120" height="120" />
                            </a>
                            <a href="javascript:MyDeleteAsync('@p.PhotoId')">Delete <i class="fa fa-trash"></i></a>
                        </li>

                    }
                }
            }

        </tbody>
    </table>
</div>






<!-- Modal -->
<div class="modal fade" id="MyPopupDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi una photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Selezionale un'immagine</h3>
                @using (Html.BeginForm("AddImage", "Libri", FormMethod.Post, new { id = "MyFormUpload", enctype = "multipart/form-data" }))
                {
                    <input type="file" name="MyFile" id="MyFile" value="">

                    <input type="hidden" name="annuncioId" value="@Model.externalId" />

                    <span style="color: red; visibility: hidden;" id="MyResponseMessage">messaggio</span>
                    <br />

                    <div id="percent">0%</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick="javascript: MyAsyncUpload()">Upload</button>
            </div>
        </div>
    </div>
</div>


<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">




    $(document).ready(function () {
        $('#MyPopupDialog').on('hidden.bs.modal', function (e) {
            MyAsyncUpdate();
        })

    });




    function MyDeleteAsync(id) {
        console.log("MyDeleteAsync: " + id);
        $.post("@(Url.Action("DeleteImage","Libri") + "/")" + id,
             function (data) {
                 //alert("data: " + data.esito);

                 if (data.esito == "Success") {
                     MyAsyncUpdate();
                 }
             });
    }


    function MyAsyncUpload() {
        console.log("MyAsyncUpload");

        //var MyData = $('#MyFormUpload').serialize();

        //alert("MyAsyncUpload");
        //var MyData = new FormData($('#MyFormUpload'));





        @*  $.ajax({
            url: "@Url.Action("AddImage", "Immobiliare")",
            type: "POST",
            data: MyData,
            beforeSend: function (xhr) {
                //xhr.overrideMimeType("text/plain; charset=x-user-defined");
                alert("beforeSend");
            }
        }).done(function (data) {
            alert("Done: " + data);
        });*@


        var options = {
            beforeSend: function () {
                //alert("beforeSend");
                $("#MyResponseMessage").css('visibility', 'hidden');
            },
            uploadProgress: function (event, position, total, percentComplete) {
                $('#percent').html(percentComplete + "%");
            },
            success: function () {

            },
            complete: function (response) {
                //response text from the server.
                //alert("response " + response.responseText);
                var obj = JSON.parse(response.responseText);

                $("#MyFile").val("");
                $('#percent').html("0%");
                // alert("esito: " + obj.messaggio);

                if (obj.esito == "Failed") {
                    $("#MyResponseMessage").html(obj.messaggio);
                    $("#MyResponseMessage").css('visibility', 'visible');
                } else {

                    $("#MyPopupDialog").modal('hide');
                    //MyAsyncUpdate();
                }

            }
        };

        $('#MyFormUpload').ajaxForm(options);
        $('#MyFormUpload').submit();
    }




    function MyAsyncUpdate() {
        

        $.get('@Url.Action("MyAnnuncio", "Libri", new { id = Model.externalId })', function (data) {
            // alert("MyGalleryEdit" + data);
            console.log("MyAsyncUpdate: " + data );
            $('#MyGalleryEdit').html(data);
            // $('#MyGalleryEdit').trigger('create');
        });
    }








</script>

















<style>
    #Galleryy {
        background-color: transparent;
    }
        /*#photo table.photo {  background-color: transparent; }  */


        #Galleryy ul {
            list-style: none;
            display: block;
            margin: 0px;
            padding: 0px;
        }


            #Galleryy ul li {
                display: block;
                width: 300px;
                float: left;
                background-color: azure;
                margin: 10px;
            }


        #Galleryy div.photo {
            margin: 10px;
            padding: 5px;
            border: 1px solid Black;
            float: left;
        }
            /* #photo div.photo img {border: 1px solid Black;   }*/
            #Galleryy div.photo .descrizione {
                margin-top: 5px;
                padding: 3px;
                font-size: 10px;
                text-align: center;
                background-color: #E2EECD;
            }
</style>
