@model MyUsers.Models.MyUser

@{
    ViewBag.Title = "Delete utente:" + ((String.IsNullOrEmpty(Model.login)) ? "N/A" : Model.login);
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdmin.cshtml";
}

<h2>Cancellazione utente: @Model.login (id: @Model.userId)</h2>

<h3>Confermare la cancellazione FISICA di questo utente?</h3>
<p>Tutti gli annunci con le relative immagini verrnno cancellati dal database e dal filesystem </p>


<h3>Account</h3>
@{Html.RenderPartial("_TabInfoAccount", Model);}

<h3>Anagrafica</h3>
@{Html.RenderPartial("_TabInfoAnagrafica", Model);}




@using (Html.BeginForm("DeleteUser", "Users", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@Model.userId" />

    <a href="@Url.Action("Details", "Users", new { id = Model.userId })" class="btn btn-primary" role="button">Annulla</a>
    <button type="submit"  class="btn btn-secondary text-right"><i class="fa fa-trash fa-fw"></i>Elimina</button>

}