@model MyUsers.Models.MyUser

@{
    ViewBag.Title = "Delete utente:" + ((String.IsNullOrEmpty(Model.login)) ? "N/A" : Model.login);
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdmin.cshtml";
}

<h2>Cancellazione utente: @Model.login (id: @Model.userId)</h2>

<h3>Confermare la cancellazione FISICA di questo utente?</h3>
<p>Tutti gli annunci con le relative immagini verrnno cancellati dal database e dal filesystem </p>


<h3>Account</h3>
@{Html.RenderPartial("_TabInfoAccount", Model);}

<h3>Anagrafica</h3>
@{Html.RenderPartial("_TabInfoAnagrafica", Model);}




@using (Html.BeginForm("DeleteUser", "Users", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()

    <input  type="hidden" name="id" value="@Model.userId" />
    
    <div data-role="controlgrup" data-type="horizontal">
        <a href="@Url.Action("Index", "Users")" class="ui-btn-inline ui-btn ui-corner-all" >Torna alla lista</a>
        <a href="@Url.Action("Details", "Users", new { id = Model.userId })"  class="ui-btn-inline ui-btn ui-corner-all" >Annulla</a>
        <input type="submit" value="Elimina" data-inline="true" data-icon="delete" />
    </div>
}