@model MyWebApplication.Areas.Admin.Models.MyUserModel
@{
    ViewBag.Title = "Dettaglio utente: " + ((String.IsNullOrEmpty(Model.Utente.login)) ? "N/A" : Model.Utente.login);
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdmin.cshtml";
}


<script type="text/javascript">
    $(document).on("pageinit", function () {
        $('#TabAccessi').on('click', function (event) {
            // alert("TabAccessi OnClick");

            getReport();

        });


        $("[name='Days']").change(function () {
            //alert("Days");
            //var d = $("[name='Days']").val();
            //alert("Days: " + d);

            getReport();
        });
    });


    function getReport() {
        //alert("getReport");

        var d = $("[name='Days']").val();

        var request = $.ajax({
            url: "@Url.Action("LoginByUser","Reports")",
            type: "POST",
            data: { userId: @Model.Utente.userId, days: d },
            dataType: "html"
        });

        request.done(function (msg) {
            // alert("Done: " + msg);

            $("#DivLoginByUser").html(msg);

            initMyReport();
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }



    function LoginByUserOnClickEventListener(e, shape) {
        // If you have multiple charts on your canvas the .__object__ is a reference to
        // the last one that you created
        var obj = e.target.__object__

        var index = shape['index'];
        var value = obj.data[index];
        //alert('Value is: ' + value);

        var label = obj.get("chart.labels")[index];
        //alert('Label is: ' + label);

        var arr = label.split('/');

        var request = $.ajax({
            url: "@Url.Action("LoginByUserDetails","Reports")",
            type: "POST",
            data: { userId: @Model.Utente.userId, anno: arr[2], mese:arr[1], giorno: arr[0] },
            dataType: "html"
        });

        request.done(function (msg) {
            // alert("Done: " + msg);
            $("#DivLoginByUserDetails").html(msg);

            //$("#MyPanel").trigger("updatelayout");
            $("#MyDataTable").css("font-size", "10px");
            $("#MyPanel").trigger('create');

            $("#MyPanel").panel("open");

            // $("#MyDataTable").table("rebuild");


        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }


</script>


<h2>Utente: @Model.Utente.login (id: @Model.Utente.userId)</h2>




<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a href="#tab-1" id="tab-1-tab" class="nav-link active" role="tab" data-bs-toggle="tab" aria-controls="tab-1" aria-selected="true">Account</a></li>
    <li class="nav-item"><a href="#tab-2" id="tab-2-tab" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="tab-2" aria-selected="false">Anagrafica</a></li>
    <li class="nav-item"><a href="#tab-3" id="tab-3-tab" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="tab-3" aria-selected="false">Gruppi</a></li>
    <li class="nav-item"><a href="#tab-4" id="tab-4-tab" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="tab-4" aria-selected="false">Ruoli</a></li>
    <li class="nav-item"><a href="#tab-5" id="tab-5-tab" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="tab-5" aria-selected="false">Accessi</a></li>
    <li class="nav-item"><a href="#tab-6" id="tab-6-tab" class="nav-link" role="tab" data-bs-toggle="tab" aria-controls="tab-6" aria-selected="false">Annunci</a></li>
</ul>


<div class="tab-content">

    <div id="tab-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-1">
        @{Html.RenderPartial("_TabInfoAccount", Model.Utente);}
    </div>


    <div id="tab-2" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-2">
        @{Html.RenderPartial("_TabInfoAnagrafica", Model.Utente);}
    </div>


    <div id="tab-3" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-3">
        @if (Model.Utente.Gruppi == null || Model.Utente.Gruppi.Count() == 0)
        {
            <h3>Nessun gruppo associato</h3>
        }
        else
        {
            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in Model.Utente.Gruppi)
                {
                    if (String.IsNullOrEmpty(g.tipo))
                    {

                        <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)  @((!String.IsNullOrEmpty(g.tipo)) ? " [" + g.tipo + "]" : "")</a></li>

                    }
                }
            </ol>
        }



        @{
            List<MyUsers.Models.MyGroup> GruppoRedazione;
            GruppoRedazione = Model.Utente.Gruppi.FindAll(x => x.tipo == "REDAZIONE");

            List<MyUsers.Models.MyGroup> GruppoAsset;
            GruppoAsset = Model.Utente.Gruppi.FindAll(x => x.tipo == "ASSET");
        }



        @if (GruppoRedazione == null || GruppoRedazione.Count == 0)
        {
            <h3>L'utente non appartiene ad un gruppo di redazione</h3>
        }
        else
        {
            <h3>Gruppo per la redazione di bollettini</h3>

            if (GruppoRedazione.Count > 1)
            {
                <h3 style="color: red;">Attenzione l'utente deve appartenere ad un solo gruppo di redazione</h3>
            }

            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in GruppoRedazione)
                {
                    <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)</a></li>
                }
            </ol>
        }



        @if (GruppoAsset == null || GruppoAsset.Count == 0)
        {
            <h3>L'utente non appartiene ad un gruppo asset virtuale</h3>
        }
        else
        {
            <h3>Gruppo asset virtuale</h3>
            if (GruppoAsset.Count > 1)
            {
                <h3 style="color: red;">Attenzione l'utente deve appartenere ad un solo gruppo asset virtuale</h3>
            }

            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in GruppoAsset)
                {
                    <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)</a></li>
                }
            </ol>
        }


    </div>


    <div id="tab-4" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-4">
        @if (Model.Utente.Ruoli == null || Model.Utente.Ruoli.Count() == 0)
        {
            <h3>Nessun ruolo associato</h3>
        }
        else
        {

            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyRole r in Model.Utente.Ruoli)
                {
                    <li data-icon="false"><a href="#">@(r.nome)  [@(r.gruppo)]</a></li>
                }
            </ol>
        }
    </div>


    <div id="tab-5" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-5">


        <div class="ui-field-contain">
            <label for="Days">Data:</label>
            @{Html.RenderPartial("_ComboData", MyManagerCSharp.ManagerDB.Days.Oggi);}
        </div>


        <div id="DivLoginByUser">
            @{
// Html.RenderPartial("~/Views/Widget/RGraphV2.cshtml", new MyManagerCSharp.RGraph.Models.WidgetRGraph() { RGraph = Model.Reports });

            }}
        </div>

    </div>





    <div id="tab-6" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-6">


        <div class="row">
            <div class="col-md-6">

                <h3>Numero di annunci by Stato</h3>
                <ul class="list-group">
                    @foreach (Annunci.AnnunciManager.StatoAnnuncio k in Model.ContaAnnunciByStato.Keys)
                    {
                        <li class="list-group-item">@k.ToString().Replace("_", " ") <span class="badge badge-primary badge-pill">@Model.ContaAnnunciByStato[k]</span></li>
                    }
                </ul>
            </div>

            <div class="col-md-6">
                <h3>Numero di trattative by Stato</h3>
                <ul class="list-group">
                    @foreach (Annunci.TrattativaManager.StatoTrattativa k in Model.ContaTrattativeByStato.Keys)
                    {
                        <li class="list-group-item">@k.ToString().Replace("_", " ") <span class="badge badge-primary badge-pill">@Model.ContaTrattativeByStato[k]</span></li>
                    }
                </ul>
            </div>
        </div>

        <hr />




        @if (Model.Annunci.Count == 0)
        {
            <h3>L'utente non ha pubblicato nessun annuncio</h3>
        }
        else
        {
            <h3>L'utente ha pubblicato @Model.Annunci.Count annunci</h3>

            <table id="MyTable" class="table table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Data inserimento</th>
                        <th>Data cancellazione</th>
                        <th>Tipo</th>
                        <th>Stato</th>
                        <th>Nome</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (Annunci.Models.Annuncio i in Model.Annunci)
                {
                        <tr>
                            <td><a href="@Url.Action("Details", "Annunci", new { annuncioId = i.annuncioId })">@i.annuncioId</a></td>
                            <td>@i.dataInserimento.ToString()</td>
                            <td>@MyHelper.decodeNull(i.dateDeleted)</td>
                            <td>@i.tipo</td>
                            <td>@i.stato</td>
                            <td>@i.nome</td>
                            <td>@i.prezzo</td>
                        </tr>
                    }
                </tbody>
            </table>

        }



    </div>


</div>







<div data-role="controlgrup" data-type="horizontal">
    <a class="btn btn-primary" href="@Url.Action("Index", "Users")">Torna alla lista</a>
    <a class="btn btn-secondary" href="@Url.Action("Edit", "Users", new { id = Model.Utente.userId })"><i class="fa fa-edit fa-fw" ></i>Modifica </a>
    <a class="btn btn-secondary" href="@Url.Action("Delete", "Users", new { id = Model.Utente.userId })"><i class="fa fa-trash fa-fw" ></i>Elimina</a>
</div>


<div data-role="panel" id="MyPanel" data-display="overlay" data-position="right">
    <div id="DivLoginByUserDetails">
    </div>
</div>
