
@{
    ViewBag.Title = "Trova-libro: Errore generico";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}
kjjjjjjjj
<div class="alert alert-warning mt-3" role="alert">
    <p>Attenzione si è verificato un errore all'interno del sistema.</p>

    <img style="display:block; margin-left:auto; margin-right:auto;" src="@Url.Content("~/Content/Images/shared/error1_48x48.gif")" border="0" alt="" />

    <p>
        Se l'errore persiste sciveteci al sequente indirizzo:
        <a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["mail.webmaster"]">@System.Configuration.ConfigurationManager.AppSettings["mail.webmaster"]</a>
    </p>
    <p>Grazie per la collaborazione e scusateci per il disagio.</p>
</div>


<a class="btn btn-secondary" href="@Url.Action("Index", "Home")" role="button">Torna alla home</a>
<a class="btn btn-secondary" href="@Url.Action("Login", "Account")" role="button">Torna alla pagina di login</a>
<a class="btn btn-secondary" href="@Url.Action("Index", "Libri")" role="button">Torna alla pagina di ricerca</a>



