@model MyWebApplication.Models.ChangeEmailModel
@{
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Modifica indirizzo email</h2>

@if (Model.isCompleted)
{
    <p>Abbiamo inviato una mail al nuovo indirizzo: <b>@Model.newEmail</b></p>
    <p>Accedi alla casella email e clicca sul link che ti abbiamo inviato per confermare l'indirizzo</p>
}
else
{

    <p>Il tuo attuale indirizzo email è: <b>@Model.emailAttuale</b></p>

    using (Html.BeginForm("ChangeEmail", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_MyValidationSummary", ViewData.ModelState)

        <div style="max-width: 500px;">

            <div class="form-group">
                <label for="NewPassword">Nuovo indirizzo email:</label>
                <input type="email" class="form-control" name="newEmail" id="newEmail" required value="@Model.newEmail">
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Conferma indirizzo email:</label>
                <input type="email" class="form-control" name="newEmailConfirm" id="newEmailConfirm" required value="@Model.newEmailConfirm">
            </div>

            <a class="btn btn-secondary" href="@Url.Action("Manage")">Annulla</a>
            <button class="btn btn-primary" type="submit">Modifica indirizzo email</button>

        </div>
    }

}