@model MyWebApplication.Models.ChangePasswordModel
@{
    ViewBag.Title = "Trova libro: modifica password";
    ViewBag.Description = "Crea un nuovo accout per accedere ai servizi di trova-libro";
    ViewBag.Keywords = "registrazione, creazione account, login, acceso al sito, password , recupero password ";

    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Modifica password</h2>

<p>Al termine della procedura per la modifica della propria password ti verrà inviata un'email con i nuovi dati aggiornati.</p>
<!--
<ul>
    <li>lunghezza minima di 8 caratteri;</li>
    <li>deve contenere almeno una cifra numerica;</li>
    <li>deve contenere almeno un carattere minuscolo;</li>
    <li>deve contenere almeno un carattere maiuscolo;</li>
    <li>deve contenere almeno uno dei seguenti caratteri speciali:  @Model.carattariConsentiti </li>
    <li><b>NON</b> può contenere nessuno dei seguenti caratteri speciali:  @Model.catatteriVietati </li>
</ul>

<p>Prima di continuare con la procedura di modifica password, ti consigliamo di utilizzare la nostra pagina di test per verificare che la password da te scelta rispecchi i criteri di sicurezza.</p>
<p>Clicca <a href="isStrongPassword.aspx">qui</a> per verificare che la tua password sia corretta</p>
    -->

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_MyValidationSummary", ViewData.ModelState)

    <div style="max-width: 500px;">
        <div class="form-group">
            <label for="OldPassword">Vecchia password:</label>
            <input type="password" class="form-control" name="OldPassword" id="OldPassword" required value="@Model.OldPassword">
        </div>
        <div class="form-group">
            <label for="NewPassword">Nuova password:</label>
            <input type="password" class="form-control" name="NewPassword" id="NewPassword" required value="@Model.NewPassword">
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Conferma la nuova password:</label>
            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" required value="@Model.ConfirmPassword">
        </div>

        <a class="btn btn-secondary" href="@Url.Action("Manage")">Annulla</a>
        <button class="btn btn-primary" type="submit">Modifica password</button>

    </div>
}


