@model MyWebApplication.Models.ManageModel
@{
    ViewBag.Title = "Trova libro: il tuo profilo";
    ViewBag.Description = "Crea un nuovo accout per accedere ai servizi di trova-libro";
    ViewBag.Keywords = "registrazione, creazione account, login, acceso al sito, password , recupero password ";

    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}


<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Libri")">Ricerca</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profilo</li>
    </ol>
</nav>
<h2>Il tuo profilo</h2>
<p>Benvenuto, @Model.NomeCognome</p>
<p>
    il tuo ultimo accesso è del @Model.datePreviousLogin.Value.ToShortDateString() alle ore @Model.datePreviousLogin.Value.ToShortTimeString()
</p>


<p><a class="btn btn-secondary" href="@Url.Action("ChangePassword")"><i class="fa fa-key fa-fw"></i> Modifica password</a></p>


<p><a class="btn btn-secondary" href="@Url.Action("Create","Libri")"><i class="fa fa-book fa-fw"></i> Nuovo annuncio</a></p>