@model MyWebApplication.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Registrazione ai Servizi di @System.Configuration.ConfigurationManager.AppSettings["application.name"] </h2>

La registrazione al servizio si articola in 3 fasi:
<ul>
    <li>compilazione dei dati personali, accettazione delle condizioni e termini del servizio e consenso ai sensi del Codice in materia di protezione dei dati personali;</li>
    <li>ricezione di un'e-mail di conferma dei dati inseriti;</li>
    <li>ricezione di una seconda email con una password generata dal sistema.</li>
</ul>


Gentile utente la registrazione ai servizi di Trova-libro consente di accere alle aree riservate del sito.

Consenso ai sensi del D. Lgs. 196/03

Prima di completare la registrazione, leggi la nota informativa, sulle norme che tutelano la privacy e decidi se rilasciare il consenso al trattamento dei dati personali.

Se lo farai, non solo potrai accedere ai servizi offerti da questo portale, ma potrai anche ricevere informazioni personalizzate nella tua casella di posta elettronica ed essere sempre aggiornato su tutti i nostri servizi e su eventuali nuove offerte e promozioni.



@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_MyValidationSummary", ViewData.ModelState);



    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" value="@Model.nome" id="nome" name="nome" placeholder="Nome">
    </div>

    <div class="form-group">
        <label for="cognome">Cognome:</label>
        <input type="text" class="form-control" value="@Model.cognome" id="cognome" name="cognome" placeholder="Cognome">
    </div>


    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" value="@Model.login" id="login" name="login" placeholder="Scegli una login" />
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" value="@Model.email" id="email" name="email" placeholder="Il tuo indirizzo email attuale" />
    </div>






    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend>Informativa sulla privacy</legend>

        <div>@(new HtmlString(ViewData["TestoPrivacy"].ToString()))</div>

        <div class="checkbox">
            <label>
                <input type="radio" name="privacy" id="privacy-no" value="NO" /> Non accetto
            </label>

            <label>
                <input type="radio" name="privacy" id="privacy-si" value="SI" /> Accetto
            </label>
        </div>
    </fieldset>



    <div>
        <a class="btn btn-default" href="javascript:history.back();">Annulla</a>
        <input type="submit" class="btn btn-primary" value="Prosegui con la registrazione" />
    </div>

}
