@model MyWebApplication.Models.RegisterModel
@{
    ViewBag.Title = "Trova libro: registrazione";
    ViewBag.Description = "Crea un nuovo accout per accedere ai servizi di trova-libro";
    ViewBag.Keywords = "registrazione, creazione account, login, acceso al sito, password , recupero password ";

    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<nav class="mt-3" aria-label="breadcrumb" itemprop="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Libri")">Ricerca</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrazione</li>
    </ol>
</nav>

<h2>Registrazione ai Servizi di @System.Configuration.ConfigurationManager.AppSettings["application.name"]</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card mb-3">
        <div class="card-header">
            Inizio
        </div>
        <div class="card-body">
            La registrazione al servizio si articola in 3 fasi:
            <ul>
                <li>compilazione dei dati personali, accettazione delle condizioni e termini del servizio e consenso ai sensi del Codice in materia di protezione dei dati personali;</li>
                <li>ricezione di un'e-mail di conferma dei dati inseriti;</li>
                <li>ricezione di una seconda email con una password generata dal sistema.</li>
            </ul>


            Gentile utente la registrazione ai servizi di Trova-libro consente di accere alle aree riservate del sito.

            Consenso ai sensi del D. Lgs. 196/03

            Prima di completare la registrazione, leggi la nota informativa, sulle norme che tutelano la privacy e decidi se rilasciare il consenso al trattamento dei dati personali.

            Se lo farai, non solo potrai accedere ai servizi offerti da questo portale, ma potrai anche ricevere informazioni personalizzate nella tua casella di posta elettronica ed essere sempre aggiornato su tutti i nostri servizi e su eventuali nuove offerte e promozioni.

        </div>
    </div>

    <div class="card mb-3" id="datiObbligatori">
        <div class="card-header">
            Dati obbligatori
        </div>
        <div class="card-body">
            @Html.Partial("_MyValidationSummary", ViewData.ModelState)


            <div class="form-group">
                <label for="nome">Nome*:</label>
                <input type="text" class="form-control" value="@Model.nome" id="nome" name="nome" placeholder="Nome">
                <div class="invalid-feedback">Valore obbligatorio</div>
            </div>

            <div class="form-group">
                <label for="cognome">Cognome*:</label>
                <input type="text" class="form-control" value="@Model.cognome" id="cognome" name="cognome" placeholder="Cognome">
                <div class="invalid-feedback">Valore obbligatorio</div>
            </div>


            <div class="form-group">
                <label for="login">Login*:</label>
                <input type="text" class="form-control" value="@Model.login" id="login" name="login" placeholder="Scegli una login" />
                <div class="invalid-feedback">Valore obbligatorio</div>
            </div>

            <div class="form-group">
                <label for="email">Email*:</label>
                <input type="email" class="form-control" value="@Model.email" id="email" name="email" placeholder="Il tuo indirizzo email attuale" />
                <div class="invalid-feedback">Valore obbligatorio</div>
            </div>
        </div>
    </div>




    <div class="card mb-3">
        <div class="card-header">
            Dati facoltativi
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nome">Sesso:</label>

                <label class="radio-inline">
                    <input name="sesso" id="radio-sesso-M" value="M" @(Model.sesso == "M" ? "checked" : "") type="radio"> M
                </label>

                <label class="radio-inline">
                    <input name="sesso" id="radio-sesso-F" value="F" @(Model.sesso == "F" ? "checked" : "") type="radio"> F
                </label>

            </div>

            <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="text" class="form-control" value="@Model.telefono" name="telefono" placeholder="Nome">
            </div>

            <div class="form-group">
                <label for="nome">HTTP:</label>
                <input type="text" class="form-control" value="@Model.http" name="http" placeholder="HTTP">
            </div>

            <div class="form-group">
                <label for="indirizzo">Indirizzo:</label>
                <input type="text" class="form-control" value="@Model.indirizzo" name="indirizzo" placeholder="Indirizzo">
            </div>

            <div class="form-group">
                <label for="numeroCivico">N° civico:</label>
                <input type="text" class="form-control" value="@Model.numeroCivico" name="numeroCivico" placeholder="Numero civico">
            </div>


            <div class="form-group">
                <label for="cap">C.A.P.:</label>
                <input type="text" class="form-control" value="@Model.cap" name="cap" placeholder="C.A.P.">
            </div>

            <div class="form-group">
                <label for="citta">Città:</label>
                <input type="text" class="form-control" value="@Model.citta" name="citta" placeholder="Città">
            </div>


            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <input type="text" class="form-control" value="@Model.provincia" name="provincia" placeholder="Provincia">
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            Condizioni del servizio
        </div>
        <div class="card-body">

            <h3>Informativa sulla privacy</h3>

            <div>@(new HtmlString(ViewData["TestoPrivacy"].ToString()))</div>
            <div class="form-group">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="privacy" id="privacy-si" value="SI">
                    <label class="form-check-label" for="privacy-si">Accetto</label>
                    <div class="invalid-feedback">Per proseguire con la registrazione occorre dare il consenso sulla privacy</div>
                </div>

                <div class="form-check">
                    <input type="radio" class="form-check-input" name="privacy" id="privacy-no" value="NO">
                    <label class="form-check-label" for="privacy-no">Non accetto</label>
                </div>
            </div>


            <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Annulla</a>
            <button class="btn btn-primary" type="button" onclick="buttonSalvaOnClick()">Salva</button>
        </div>
    </div>
}


<script>

    function buttonSalvaOnClick() {
        console.log("buttonSalvaOnClick");
        let check = true;

        if ($("#nome").val().trim() === "") {
            console.log("nome is null");
            $("#nome").addClass("is-invalid");
            check = false;
        } else {
            $("#nome").removeClass("is-invalid");
        }


        if ($("#cognome").val().trim() === "") {
            console.log("cognome is null");
            $("#cognome").addClass("is-invalid");
            check = false;
        } else {
            $("#cognome").removeClass("is-invalid");
        }

        if ($("#login").val().trim() === "") {
            console.log("login is null");
            $("#login").addClass("is-invalid");
            check = false;
        } else {
            $("#login").removeClass("is-invalid");
        }

        if ($("#email").val().trim() === "") {
            console.log("email is null");
            $("#email").addClass("is-invalid");
            check = false;
        } else {
            $("#email").removeClass("is-invalid");
        }

             

        if (check === false) {
            $('html, body').scrollTop($("#datiObbligatori").offset().top);
            return;
        }
        console.log("Privacy " + $("input[name='privacy']").attr("checked"));
        console.log("Privacy " + $("#privacy-si").is(":checked"));


        if ($("#privacy-si").is(":checked") != true) {
            $("#privacy-si").addClass("is-invalid");
            check = false;
        } else {
            $("#privacy-si").removeClass("is-invalid");
        }

        if (check === false) {
            return;
        }


        $("form").submit();
    }


</script>