@model MyWebApplication.Models.LogOnModel
@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["application.name"] + " [Admin] - Login";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdmin.cshtml";
}


@Html.ValidationSummary(true, "Attenzione")


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
        <div class="form-group">
            <label for="UserName">Username:</label>
            <input class="form-control" placeholder="Enter username" type="text" name="UserName" id="UserName" required value="@Model.UserName">
        </div>

        <div class="form-group">
            <label for="Password">Password:</label>
            <input class="form-control" placeholder="Enter password" type="password" name="Password" id="Password" required value="@Model.Password">
        </div>

        <input type="submit" class="btn btn-primary" value="Login" />

    

    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
}